/*
Author       : Syed Ekram.
Template Name: vromon - Tour & Travel Agency Template
Version      : 1.0
*/
/*=============================================================
    CSS INDEX
    =============================
    01. GENERAL STYLE (body, link color, section-title, preloader btn, overlay, section-padding etc)
    02. START BOOTSTRAP NAVIGATION OVERRIDES
    03. START HOME DESIGN
    04. START SERVICE DESIGN
    05. START WHY CHOOSE DESIGN
    06. START SPECIAL PACKAGE DESIGN
    07. START TOP DEALS DESIGN
    08. START DEALS & DISCOUNT DESIGN
    09. START GALLERY DESIGN
    10. START BLOG DESIGN
    11. START TESTIMONIAL DESIGN
    12. START COMPANY PARTNER LOGO
    13. START CONTACT DESIGN
    14. START FOOTER DESIGN
  =============================================================*/
/*
* ----------------------------------------------------------------------------------------
* 01.GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/
body {
color: #727272;
font-family: 'Open Sans', sans-serif;
font-size: 15px;
font-weight: 400;
line-height: 28px;
background:#fff;
}
html,
body { height: 100% }
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0px;
  margin-top: 0px; 
  font-family: "Montserrat",sans-serif;
  color: #333;
  font-weight: 400;
}
a {	
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	transition: all 0.2s ease 0s;
}
a:hover,
a:focus  {
    outline: none;
    text-decoration: none;
}

p {
    margin-bottom: 0;
}
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}
/*START PRELOADER DESIGN*/
.preloader {
    background: #fff;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99999;
}

.status-mes {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
    font-size: 10px;
    text-indent: -12345px;
    border-top: 8px solid #222;
    border-right: 8px solid #222;
    border-bottom: 8px solid #222;
    border-left: 8px solid #fff;
    border-radius: 50%;
    -webkit-animation: spinner 700ms infinite linear;
    animation: spinner 700ms infinite linear;
    z-index: 10000;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.status-mes h4 {
	color: #f7f7f7;
	position:relative;
	font-size:24px;
	margin-top: 30px;
	text-transform: capitalize;
	letter-spacing: 1px;
}
.no-padding { padding: 0 }
/*END PRELOADER DESIGN*/
.section-padding { padding: 60px 0 }
/*START SECTION TITLE DESIGN*/
.section-title{margin-bottom:60px;}
.section-title  h2 {
font-size: 45px;
font-weight: 600;
margin-top: 0;
position: relative;
text-transform: uppercase;
}
@media only screen and (max-width:480px) { 
.section-title  h2  {font-size:30px;}
}
.section-title span{
background: #f9461d;
height: 10px ;
width: 70px;
display: block;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;	
}
.section-title-white{color:#fff;position:relative;}
.section-title  p{
padding: 0 10px;
width: 60%;
margin: auto;	
}
@media only screen and (max-width:480px) { 
.section-title  p{
padding: 0 10px;
width: 90%;
margin: auto;	
}
}
/*END SECTION TITLE DESIGN*/
/*START SCROLL TO TOP*/
.topcontrol {
background: #f9461d none repeat scroll 0 0;
border-radius: 30px;
bottom: 5px;
box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
color: #fff;
cursor: pointer;
font-size: 22px;
height: 50px;
line-height: 45px;
opacity: 1;
position: fixed;
right: 5px;
text-align: center;
transition: all 0.2s ease 0s;
width: 50px;
}
.topcontrol:hover {
    background: #222;
    color: #fff;
}
/*END SCROLL TO TOP*/
/*
* ----------------------------------------------------------------------------------------
* 01.END GENERAL STYLE
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 02.START BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
.bg-faded {
	background-color: transparent;
	transition: all 0.5s ease 0s;
}
@media only screen and (max-width:480px) { 
.bg-faded {background:rgba(0,0,0,0.9);}
}
.navbar-brand img {
  width: 150px;
}
.navbar-light .navbar-nav > li{
	position: relative;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav > li a {
	font-family: "Montserrat",sans-serif;
	color: #fff;
	padding: 7px 14px;
	margin-left: 5px;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
}
.navbar-light .navbar-nav > li a:focus,
.navbar-light .navbar-nav > li a:hover {
  color: #f9461d!important;
}
.navbar-light .navbar-nav li.active > a,
.navbar-light .navbar-nav > li.active,
.navbar-light .navbar-nav > li.open,
.navbar-light .navbar-nav .open > a {
  color: #f9461d!important;
}
.navbar-light .navbar-toggler {
  border-color: #fff;
  background-color: #fff;
  border-radius: 0px;
}
.navbar-light .navbar-toggler {
  float: right;
  margin: 14px;
}
.navbar-light .navbar-toggler i {
  color: #666!important;
}
.site-navigation {
    border-radius: 0px;
}
.navbar-fixed {
    z-index: 99999;
    position: fixed;
    opacity: .98;
    width: 100%;
	padding:10px 0;
    top: 0;
    -webkit-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    -webkit-backface-visibility: hidden;
    border-radius: 0px;
    background: rgba(0,0,0,0.9);
}

/*-------------------------------
# dropdwon menu 
--------------------------------*/

#navbarCollapse > ul > li > ul ,
#navbarCollapse > ul > li > ul > li > ul {	
	background: #fff;
	box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.08);
	left: 0;
	list-style: outside none none;
	margin:  0;
	opacity: 0;
	padding: 18px 15px;
	position: absolute;
	text-align: left;
	top: 100%;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	width: 250px;
	z-index: 999;
}
#navbarCollapse > ul > li > ul > li{
	position: relative;
}
#navbarCollapse > ul > li > ul > li > ul{
	top: 0;
	right: auto;
	left: 205px;
}
#navbarCollapse > ul > li:hover > ul,
#navbarCollapse > ul > li > ul > li:hover > ul{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; 
	visibility: visible;
}
#navbarCollapse ul li ul li a {}
#navbarCollapse > ul > li > ul > li {display: block; margin: 0; padding: 0;}
#navbarCollapse > ul > li > ul > li a {
	color: #777!important;
	display: block;
	font-size: 11px;
	line-height: 30px;
	font-weight: 300;
	padding: 5px 12px;
	position: relative;
	transition: all 0.3s ease 0s !important;
	visibility: inherit !important;
	opacity: inherit !important;
}

#navbarCollapse ul li:hover ul.sub-menu li a:hover{
	color: #fff!important;
	background: #f9461d;
	text-decoration: none;
}

@media only screen and (max-width:767px) { 
	.navbar-default {
		padding: 10px!important;
	}
	.navbar-collapse{
		margin-top: 15px;
	}
	
	#navbarCollapse ul li a{ 
		position: inherit;
		color: #333;
	
	}
	
	#navbarCollapse > ul > li > ul ,
	#navbarCollapse > ul > li > ul > li > ul{
		opacity: 1;
		position: inherit;
		top: 0;
		transition: all 0.3s ease 0s;
		z-index: 1;
		visibility: visible;
		background: #fff none repeat scroll 0 0;
		box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.05);
		padding: 15px;
		left: 0;
		background: #f5f5f5;
		list-style: none;
		width: 100%;
	}
	

	
	#navbarCollapse ul li ul.sub-menu li{
		z-index: 1;
	}
	
	#navbarCollapse ul li:hover ul.sub-menu{
		top:0;
		opacity:1;
		z-index:999;
		visibility:visible;
	}	
	
}
@media only screen and (max-width:767px) { 
  .navbar-brand {
    padding-top: 20px;
  }
}
/*
* ----------------------------------------------------------------------------------------
* 02.END BOOTSTRAP NAVIGATION OVERRIDES
* ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 03.START HOME DESIGN
* ----------------------------------------------------------------------------------------
*/
.flexslider .slides > li:first-child {
	display: block; 
}
.flexslider.loading .slides > li:first-child {
	opacity: 1 !important;
} 
.flexslider{
	position: relative;	
	margin: 0;
	padding: 0;
	border: none;
	box-shadow: none;
	border-radius: 0;
	overflow: hidden;
	background: none;
}
#home-slider .slides li{
	height: 700px;
	background-size: cover!important;
	 position: relative;
}
#home-slider .slides li:after {
    position: absolute;
    background:rgba(0, 0, 0, 0.2);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
}
.flex-control-nav {
  width: 20px;
  bottom: auto;
  z-index: 20;
  top: 40%;
  right: 20px; 
 }

.flex-control-nav li {
  display: block;
  margin: 0 0 6px 0; 
 }

.flex-control-paging li a {
  background: transparent;
  border: 2px solid #FFF;
  border-radius: 100%;
  box-shadow: none; 
 }
.flex-control-paging li a.flex-active,
.flex-control-paging li a:hover {
  background: #FFF;
  border-color: #FFF; 
}
#home-slider.flexslider.loading {
  position: relative; 
}
#home-slider.flexslider.loading:after {
    content: ' ';
    position: absolute;
    width: 30px;
    height: 30px;
    right: 20px;
    top: 40%;
    margin: 0 0 0 -15px;
    border: 4px solid #3cd2ad;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite; 
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.slider-info{
position: absolute;
top: 32%;
width: 100%;
}
@media only screen and (max-width:480px) { 
.slider-info{}
}
.slider-info h1{	
color: #fff;
font-size: 70px;
font-weight: 700;
text-transform: uppercase;
}
@media only screen and (max-width:480px) { 
.slider-info h1{font-size:40px;}
}
@media only screen and (max-width:320px) { 
.slider-info h1{font-size:30px;}
}
.slider-info p{
	color:#fff;
	margin-bottom: 25px;	
}
@media only screen and (max-width:480px) { 
.slider-info p {
  color: #fff;
  margin: auto;
  width: 90%;
  margin-bottom: 25px;
}
}
.btn-home-bg{
	background: #f9461d none repeat scroll 0 0;
	border: 2px solid #f9461d;
	border-radius: 100px;
	color: #fff;
	font-size: 12px;
	padding: 15px 35px;
	text-transform: uppercase;
	transition: all 0.3s ease 0s;
	font-family: "Montserrat",sans-serif;
}
.btn-home-bg:hover{
	background:none repeat scroll 0 0;
	border:2px solid #fff;
	color:#fff;
	outline:0;
}
.home_parallax{height: 700px;position:relative;}
.home_parallax:before {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
  content: "";
  left: 0;
  top: 0;
}
.hero-text{padding-top:250px;}

.hero-text h1{	
color: #fff;
font-size: 70px;
font-weight: 700;
text-transform: uppercase;
}
@media only screen and (max-width:480px) { 
.hero-text h1{font-size:40px;}
}
@media only screen and (max-width:320px) { 
.slider-info h1{font-size:30px;}
}
.hero-text p{
	color:#fff;
	margin-bottom: 25px;	
}
@media only screen and (max-width:480px) { 
	.hero-text p {
	  color: #fff;
	  margin: auto;
	  width: 90%;
	  margin-bottom: 25px;
	}
}



/*
* ----------------------------------------------------------------------------------------
* 03.END HOME DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 04.START SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/
.our_services{
background: #eef1f2 none repeat scroll 0 0;
padding-top:60px;
}
.service {
background: #fff none repeat scroll 0 0;
height: 300px;
padding: 20px;
margin-bottom:60px;
transition: all 0.4s ease 0s;
}
.icon {
background: #fff none repeat scroll 0 0;
border: 1px solid #fff;
border-radius: 100px;
box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
color: #f9461d;
font-size: 24px;
height: 60px;
left: 0;
line-height: 56px;
margin: -30px auto auto;
position: absolute;
right: 0;
text-align: center;
top: 0;
transition: all 0.3s ease 0s;
width: 60px;
}
.service h4 {
font-size: 18px;
margin: 35px 0 20px;
text-transform: uppercase;
}
.service p {

}
/*
* ----------------------------------------------------------------------------------------
* 04.END SERVICE DESIGN
* ----------------------------------------------------------------------------------------
*/

/*
 * ----------------------------------------------------------------------------------------
 * 05.START WHY CHOOSE US DESIGN
 * ----------------------------------------------------------------------------------------
*/
.why_choose {
	position: relative;
	padding-bottom: 30px;
}
.why_choose:before {
    background:rgba(0, 0, 0, 0) linear-gradient(rgba(34, 38, 75, 0.1), rgba(34, 38, 75, 0.5)) repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.single-choose {
	background: #fff none repeat scroll 0 0;
	border-radius: 4px;
	padding: 30px 20px;
	margin-bottom: 30px;
}
@media only screen and (max-width:480px) { 
.single-choose {margin-bottom:60px;}
}
.single-choose i{
background: #f9461d none repeat scroll 0 0;
border: 1px solid #f9461d;
border-radius: 100px;
box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.1);
color: #fff!important;
font-size: 24px;
height: 60px;
left: 0;
line-height: 56px;
margin: -30px auto auto;
position: absolute;
right: 0;
text-align: center;
top: 0;
transition: all 0.3s ease 0s;
width: 60px;
}
.single-choose h4{
font-size: 18px;
font-weight: 500;
margin-top: 20px;
text-transform: uppercase;
}
.single-choose p{}


/*START COUNTER*/
.counter_feature {
  padding-top: 60px;
}
.counter_title{}
.counter_title h1{
color: #fff;
margin-top: 90px;
text-align: center;
text-transform: uppercase;
}
@media only screen and (max-width:768px) { 
.counter_title h1{margin-top:0px;margin-bottom:60px;}
}
.complete-project-area {}

.single-project-complete{
border-right:1px solid rgba(0, 0, 0, 0.1);
text-align: center;   
}
.brnone{border-right: 0px ;}
@media only screen and (max-width:768px) { 
.single-project-complete {margin-bottom:30px;}
}
.single-project-complete h2 {
font-size: 45px;
font-weight: 600;
}
.single-project-complete h3 {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 0;
}
/*END COUNTER*/
/*
 * ----------------------------------------------------------------------------------------
 * 05.END WHY CHOOSE US DESIGN
 * ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 *  06.START SPECIAL PACKAGE DESIGN
 * ----------------------------------------------------------------------------------------
*/

.special_package .col-xs-12 .single_package{
	margin: 0 0 30px;
}
.single_package {
	margin: 0 15px;
	overflow: hidden;
	position: relative;
}
@media only screen and (max-width:768px) { 
.single_package {margin-bottom:40px}
}
.package-hover {
	position: absolute;
	width: 100%;
	bottom: -100%;
	padding: 30px;
	padding-bottom: 0px;
	background: #f9461d;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	visibility: hidden;
}
.single_package:hover .package-hover {
	bottom: 0px;
	opacity: 1;
	visibility: visible;

}
.package-hover p{color: #fff;}
.package-hover i{color: #fff;}
.time_zone{
background: #fff;
display: block;
overflow: hidden;
color: #333!important;
padding: 10px;	
}
.team .position-center-center {
	width: 100%;
	padding: 0 20px;
}
.single_package img{width: 100%;}
.single_package h5 {
color: #fff;
font-size: 18px;
margin: 0;
text-transform: uppercase;
font-weight: 600;
}
.single_package span {
color: #fff;
display: inline-block;
font-size: 14px;
font-weight: 600;
margin: 10px 0 0;
text-align: center;
text-transform: uppercase;
width: 100%;
}
.package-name {
background:#f9461d;
bottom: 0;
color: #fff;
font-size: 16px;
font-weight: 600;
left: 0;
margin: 0;
padding: 25px 20px;
position: absolute;
text-transform: uppercase;
transition: all 0.2s ease-in-out 0s;
width: 100%;
}
/*
 * ----------------------------------------------------------------------------------------
 * 06.END SPECIAL PACKAGE DESIGN
 * ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 * 07.START TOP DEALS DESIGN
 * ----------------------------------------------------------------------------------------
 */
.grid figure {
cursor: pointer;
margin-bottom: 0;
overflow: hidden;
position: relative;
text-align: center;
}
.grid figure img {
    position: relative;
    display: block;
    width: 100%;
}
.grid figure figcaption {
    padding: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.grid figure figcaption,
.grid figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}
.grid figure h4 {
    word-spacing: -0.15em;
    font-weight: 300;
}
.grid figure h4,
.grid figure p { margin: 0 }
.grid figure p {
    font-size: 16px;
    letter-spacing: 1px;
}
.grid figure p a { color: #fff }
figure.effect-sadie figcaption:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 75%);
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
}
figure.effect-sadie h4 {
    background: #fff none repeat scroll 0 0;
    color: #222;
    font-size: 18px;
    left: 20%;
    letter-spacing: 1px;
    padding: 15px 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0px);
    transform: translate3d(0px, -50%, 0px);
    -webkit-transition: -webkit-transform 0.35s ease 0s, color 0.35s ease 0s;
    transition: transform 0.35s ease 0s, color 0.35s ease 0s;
    width: 60%;
    opacity: 0;
    filter: alpha(opacity=0);
}
@media only screen and (max-width:768px) { 
    figure.effect-sadie h4 { font-size: 12px }
}
@media only screen and (max-width:480px) { 
    figure.effect-sadie h4 { font-size: 18px }
}
@media only screen and (max-width:320px) { 
    figure.effect-sadie h4 { font-size: 14px }
}
figure.effect-sadie figcaption:before,
figure.effect-sadie p {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
figure.effect-sadie p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: translate3d(0,10px,0);
    transform: translate3d(0,10px,0);
}
figure.effect-sadie:hover h4 {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
figure.effect-sadie:hover figcaption:before,
figure.effect-sadie:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

/*
 * ----------------------------------------------------------------------------------------
 * 07.END TOP DEALS DESIGN
 * ----------------------------------------------------------------------------------------
 */

/*
* ----------------------------------------------------------------------------------------
* 08.START DEALS & DISCOUNT DESIGN
* ----------------------------------------------------------------------------------------
*/
.releated_tour .col-xs-12 .single-discount{
	margin: 0 0 30px;
}
.single-discount {
background: #fff none repeat scroll 0 0;
border: 1px solid #eee;
margin: 0 15px 10px;
padding: 10px;
transition: all 0.2s ease 0s;
}
@media only screen and (max-width:480px) { 
    .single-discount { margin-bottom: 40px }
}
.single-img {
    position: relative;
    width: 100%;
}
.post-date {
background: #fff none repeat scroll 0 0;
display: inline-block;
left: 0;
margin-left: 10px;
padding: 15px 30px;
position: absolute;
text-align: center;
top: 5%;
}
.post-date  h4 {
    color: #333;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}
.post-date i {
  color: #f9461d;
}
.single_discount_dsc {padding: 10px 10px 0;}
.single_discount_dsc h3 {
    color: #333;
    display: block;
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
    text-transform: uppercase;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
}
.single_discount_dsc h3 a:hover { color: #f9461d }
.single_discount_dsc p {
    margin-bottom: 5px;
}
.single_discount_dsc a {
    color: #f9461d;
    font-weight: 400;
    -webkit-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
    text-transform: uppercase;
    font-size: 14px;
}
.single_discount_dsc a:hover { padding-left: 10px }
/*START SINGLE TOUR DETAILS*/
.single_tour_details{}
.single_tour_details img{width:100%;}
.single_tour_details span{
color: #333;
display: block;
margin: 10px 0;
overflow: hidden;
font-size: 17px;
text-transform: uppercase;	
}
.single_tour_details h2{}
.single_tour_details p{}
.book_now{margin-bottom: 30px;}
.book_now h4{
border-bottom: 1px solid #eee;
font-weight: 400;
margin-bottom: 15px;
padding-bottom: 15px;
text-transform: uppercase;	
}

.book_now input {
	background: #fff none repeat scroll 0 0;
	border-color: currentcolor currentcolor #eee;
	border-style: none none solid;
	border-width: 0 0 1px;
	box-shadow: none;
	color: #333;
	height: 45px;
	padding: 10px;
}
.book_now input:hover,
.book_now input:focus {
	border-color: currentcolor currentcolor #f9461d;
	border-style: none none solid;
	border-width: 0 0 1px;
	box-shadow: none;
	outline: 0 none;
}
/*END SINGLE TOUR DETAILS*/
/*
* ----------------------------------------------------------------------------------------
* 08.END DEALS & DISCOUNT DESIGN
* ----------------------------------------------------------------------------------------
*/


/*
* ----------------------------------------------------------------------------------------
* 09.START GALLERY DESIGN
* ----------------------------------------------------------------------------------------
*/
.img-gallery{}
.gallery_info{
	background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
	bottom: 0;
	left: 0;
	margin: auto;
	padding: 40px 30px;
	position: absolute;
	right: 0;
	text-align: center;
	width: 400px;
}
@media only screen and (max-width:480px) { 
.gallery_info {width: 100%;}
}
.gallery_info h1{
text-transform: uppercase;
font-weight: 600;	
}
.gallery_info p{}
/*
* ----------------------------------------------------------------------------------------
* 09.END GALLERY DESIGN
* ----------------------------------------------------------------------------------------
*/
/*
 * ----------------------------------------------------------------------------------------
 * 10.START BLOG DESIGN
 * ----------------------------------------------------------------------------------------
 */
.blog_section {
    padding-top: 60px;
    padding-bottom: 30px;
}

.single_blog{
	margin-bottom: 30px;
}
.blog-text {
	background-color: #ffffff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	padding: 15px;
	position: relative;
	z-index: 1;
}

.blog-text h4 {
    margin-bottom: 15px;
    text-transform: uppercase;
}
.blog-text a {
color: #202020;
font-size: 16px;
transition: all 0.2s ease 0s;
}
.blog-text a:hover { color: #f9461d; }
.blog-text p { 
	margin-top: 0; 
	margin-bottom: 10px; 
}
.blog-photo{
	position: relative;
}
.blog-photo .p_date{
	position: absolute;
	bottom: 0;
	padding: 10px 15px;
	color: #fff;
	background: #f9461d;
	margin: 0 15px;
}
.blog-photo img {
	max-width: 100%;
}
.bg_color_title{
	background: #444;
}

.section-content {
	position: relative;
	height: 350px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;	
}

.bg_banner:before {
    background:rgba(0, 0, 0, 0.5);
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.section-blog-title{
    background: #f9461d none repeat scroll 0 0;
    border: 2px solid #fff;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
    color: #fff;
    display: inline-block;
    font-weight: 400;
    padding: 20px 25px;
	font-size: 25px;
	letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 100px;	
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}

.blog_content{
	background: #fcfcfc none repeat scroll 0 0;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
	padding: 20px;	
}
.post_audio_video iframe{
	width: 100%;
	border: inherit;
	display: block;
}
.post_audio_video{
	margin-top: 0px;
	margin-bottom: -1px;
}
div.date{
	color: #f9461d;
	font-weight: 400;
	margin-bottom: 15px;	
}
.title{
	font-size: 26px;
	font-weight: 400;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.blog_content h4{margin-bottom: 15px;}
.blog_content h4 span{
font-size: 16px;
margin-right: 30px;	
}
.blog_content img{width: 100%;}
.blog_content p{
margin-top: 20px;	
}
.author_part {
    margin-bottom: 60px;
    overflow: hidden;
}
.single_author {
    background: #f9f9f9 none repeat scroll 0 0;
    padding: 20px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.author_part img {
    border: 4px solid #f9461d;
    border-radius: 100px;
    float: left;
    height: 120px;
    margin-bottom: 25px;
    margin-right: 20px;
    width: 120px;
}
.author_part h4 {text-transform: uppercase;
font-size: 16px; }
.author_part p { margin-bottom: 0 }
.blog_head_title {
	border-bottom: 1px solid #eee;
	margin: 0 0 30px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-size: 20px;
}
.comments_part {
    margin-bottom: 60px;
    overflow: hidden;
}
.comments-area ul.children,
.comments-area ol.children,
.comment-list{

	list-style-type: none;
}

.single_comment {
    margin-bottom: 30px;
	width: 100%;
	overflow: hidden;

}
.single_comment_mbnone { margin-bottom: 0px }
.single_comment img {

    border-radius: 50%;
    float: left;
	margin: 0 20px 25px 0!important;
	box-shadow: 0 0px 15px 0 rgba(0, 0, 0, 0.08);

}
.comment_avatar {

}
.comment_title{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 700;

}
.comment_title span{
	font-size: 13px;
	font-weight: 400;
}
.single_comment h4 {
	text-transform: uppercase;
	font-size: 16px; 
}
.single_comment p { margin-bottom: 0 }
.comment-box{padding:0!important;}
/*END BLOG SINGLE PAGE DESIGN*/
/*START BLOG SIDEBAR*/
.blog_sidebar_title {
border-bottom: 1px solid #eee;
font-weight: 400;
margin-bottom: 15px;
padding-bottom: 15px;
text-transform: uppercase;
}
.search input {
  border: 1px solid #eee;
  border-radius:30px;
  box-shadow: none;
  color: #333;
  height: 45px;
}
.search input:hover,.search input:focus{border: 1px solid #f9461d;box-shadow: none;}
.search,
.video_post,
.categories { margin-bottom: 30px }
.categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.categories ul li { }
.categories ul li a {
color: #333;
display: block;
font-size: 12px;
font-weight: 300;
padding: 5px 0;
text-transform: uppercase;
}
.categories ul li a:hover { color: #f9461d }
.categories ul li a i { margin-right: 10px }
.video_post iframe {
    width: 100%;
    height: 220px;
    border: medium none;
}
.tag a {
  margin-bottom: 10px;
  margin-right: 5px;
}
.btn-tag-bg {
	background: #fff none repeat scroll 0 0;
	border: 1px solid #eee;
	border-radius: 30px;
	color: #333;
	display: inline-block;
	font-size: 12px;
	outline: medium none;
	padding: 15px 27px;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
	font-family: "Montserrat",sans-serif;
}
.btn-tag-bg:hover,
.btn-tag-bg:focus {
    background: #f9461d;
	border: 1px solid #f9461d;
    color: #fff;
}
/*END BLOG SIDEBAR*/


/*
 * ----------------------------------------------------------------------------------------
 * 10.END BLOG DESIGN
 * ----------------------------------------------------------------------------------------
 */
 
/*
 * ----------------------------------------------------------------------------------------
 * 11.START TESTIMONIAL DESIGN
 * ----------------------------------------------------------------------------------------
*/
.testimonial-demo{ background: #eef1f2; }
.testimonial{
    margin: 0 20px 40px;
}
.testimonial .testimonial-content{
    padding: 35px 25px 35px 50px;
    margin-bottom: 35px;
    background: #fff;
    border: 1px solid #f0f0f0;
    position: relative;
}
.testimonial .testimonial-content:after{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    bottom: -10px;
    left: 22px;
    transform: rotate(45deg);
}
.testimonial-content .testimonial-icon{
    width: 50px;
    height: 45px;
    background: #f9461d;
    text-align: center;
    font-size: 22px;
    color: #fff;
    line-height: 42px;
    position: absolute;
    top: 37px;
    left: -19px;
}
.testimonial-content .testimonial-icon:before{
    content: "";
    border-bottom: 16px solid #f9461d;
    border-left: 18px solid transparent;
    position: absolute;
    top: -16px;
    left: 1px;
}
.testimonial .description{
    font-size: 15px;
    font-style: italic;
    color: #8a8a8a;
    line-height: 23px;
    margin: 0;
}
.testimonial .title{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #525252;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin: 0 0 5px 0;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    color: #f9461d;
}
.owl-theme .owl-controls {
    margin-top: 50px;
    text-align: center;
}
.owl-theme .owl-controls .owl-page { display: inline-block }
.owl-controls .owl-page,
.owl-controls .owl-buttons div { cursor: pointer }
.owl-theme .owl-controls .owl-page span {
background-color: #f9461d !important;
border-radius: 20px;
display: block;
height: 12px;
margin: 5px 7px;
width: 12px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span { background-color: #fff }
.owl-theme .owl-controls {
  display: block !important;
  margin-top: 20px;
  text-align: center;
}
/*
 * ----------------------------------------------------------------------------------------
 * 11.END TESTIMONIAL DESIGN
 * ----------------------------------------------------------------------------------------
*/
/*
* ----------------------------------------------------------------------------------------
* 12.START COMPANY PARTNER LOGO
* ----------------------------------------------------------------------------------------
*/
.partner-logo {
  position: relative;
  padding: 100px 0;
}
.partner-logo:before {
    background:rgba(0, 0, 0, 0) linear-gradient(rgba(34, 38, 75, 0.1), rgba(34, 38, 75, 0.5)) repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.partner { text-align: center }
.partner.owl-theme .owl-controls {display: none!important;}
.owl-carousel .owl-item img {
border: 1px solid #eee;
display: inline-block;
width: auto;
}
/*
* ----------------------------------------------------------------------------------------
*  12.END COMPANY PARTNER LOGO
* ----------------------------------------------------------------------------------------
*/

/*
* ----------------------------------------------------------------------------------------
* 13.START CONTACT DESIGN
* ----------------------------------------------------------------------------------------
*/
.contact_area {
background:#eef1f2 ;
}
.contact {
background:#fff;
padding: 80px 60px;
}

.contact input {
background: #fff none repeat scroll 0 0;
border-color: currentcolor currentcolor #eee;
border-style: none none solid;
border-width: 0 0 1px;
box-shadow: none;
color: #333;
height: 45px;
padding: 10px;
}
.contact textarea {
	background: #fff none repeat scroll 0 0;
border-color: currentcolor currentcolor #eee;
border-style: none none solid;
border-width: 0 0 1px;
    border-radius: 3px;
    box-shadow: none;
    padding: 10px;
    color: #333;
    height: 200px;
}
.contact input:hover,
.contact input:focus {
border-color: currentcolor currentcolor #f9461d;
border-style: none none solid;
border-width: 0 0 1px;
    box-shadow: none;
    outline: 0 none;
}
.contact textarea:hover,
.contact textarea:focus {
    border-color: currentcolor currentcolor #f9461d;
border-style: none none solid;
border-width: 0 0 1px;
    box-shadow: none;
    outline: 0 none;
}
.success {
    background: #fff none repeat scroll 0 0;
    color: #42c0d9;
    font-weight: 700;
    padding: 20px;
    text-align: center;
}
.contact_address {
  padding-left: 100px;
  padding-top: 110px;
}
@media only screen and (max-width:768px) { 
.contact_address {
  padding-bottom: 60px;
  padding-left: 60px;
  padding-top: 60px;
}
}
.contact_address h3 {
    margin: 0 0 40px;
    text-transform: uppercase;
}
.contact_address ul { list-style: none }
.contact_address ul li {
    font-size: 16px;
    margin-bottom: 15px;
}
.contact_address ul li i {
	background: #fff none repeat scroll 0 0;
	border-radius: 30px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
	color: #f9461d ;
	font-size: 18px;
	height: 45px;
	line-height: 45px;
	margin-right: 20px;
	text-align: center;
	width: 45px;
}
.btn-contact-bg {
	background: #f9461d   none repeat scroll 0 0 !important;
	border: 1px solid #f9461d  !important;
	color: #fff !important;
	font-family: montserrat,sans-serif;
	font-size: 14px;
	padding: 10px 30px !important;
	text-transform: uppercase;
	transition: all 0.2s ease 0s;
	font-family: "Montserrat",sans-serif;
}
.btn-contact-bg:hover,
.btn-contact-bg:focus {
    background: #333!important;
    border: 1px solid #333!important;
    color: #fff;
}
/*
* ----------------------------------------------------------------------------------------
* 13.END CONTACT DESIGN
* ----------------------------------------------------------------------------------------
*/
#map{height:400px;}
/*
* ----------------------------------------------------------------------------------------
* 14.START FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/
.footer {
padding: 30px 0;
}

.footer_social {
left: 0;
position: absolute;
top: 126%;
width: 45px;
z-index: 999;
}
@media only screen and (max-width:768px) { 
.footer_social {display:none;}
}
.footer_social ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
@media only screen and (max-width:480px) { 
.footer_social ul{text-align:center;}
}
.footer_social ul li { display: inline-block }
.footer_social ul li a {
border-radius:0px;
color: #fff;
display: block;
font-size: 18px;
height: 45px;
line-height: 45px;
margin: px;
text-align: center;
transition: all 0.2s ease 0s;
width: 45px;
}
.footer_social ul li a:hover { background:#425cbb;color: #fff }
.f_facebook{background:#3B5998;}
.f_twitter{background:#1A90D9;}
.f_google{background:#FF5252;}
.f_linkedin{background:#0077B5;}
.f_youtube{background:#D32322;}
.f_skype{background:#1a90d9;}
/*END FOOTER SOCIAL DESIGN*/
.copyright p {
color: #333;
font-size: 14px;
margin-bottom: 0;
text-transform: uppercase;
}
@media only screen and (max-width:768px) { 
.copyright p{padding-left:20px;}
}

/*
* ----------------------------------------------------------------------------------------
* 14.END FOOTER DESIGN
* ----------------------------------------------------------------------------------------
*/

/* Responsive Css*/

@media only screen and (max-width:768px) { 
	#topcontrol{
		display: none;
	}
}
